* {
	margin: 0;
	padding: 0;
}
body {
	background-repeat: no-repeat;

	background-size: cover;
	background-color: hsl(0, 7%, 6%);
	min-width: 100px;
}
header {
	background-color: #fcecbf;
	padding: 30px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	min-width: 100px;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: -20px;
}
.logo {
	width: 350px;
}
.logo2 {
	width: 100px;
	color: #c78f4a;
}
.navigation {
	display: flex;
	align-items: center;
}

.nav-link:hover {
	color: #007bff; /* kolor tekstu po najechaniu myszką */
}

.active {
	color: #007bff; /* kolor aktywnego linku */
}

.nav-link {
	color: #c78f4a;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-left: 50px;
}

footer {
	background-color: #fcecbf;
	display: flex;
	justify-content: space-between;
	opacity: 0.8;
}
.footer-section {
	flex: 1;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	color: #c78f4a;
	margin-left: 100px;
}
.newsletter-section {
	flex: 1;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	color: #c78f4a;
}
.email-newsletter {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border-color: #c78f4a;
	background-color: #fcecbf;
}
input::placeholder {
	color: #c78f4a;
}
.newsletter-section button {
	padding: 10px 20px;
	background-color: #c78f4a;
	color: #fcecbf;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.obrazek-body {
	width: 400px;
	border-radius: 30px;
	opacity: 0.7;
}
.content {
	display: flex;
	align-items: center;
	padding: 20px;
}

.image-container {
	flex: 1;
	order: 2;
	margin-left: 60px;
}
.image-container img {
	width: 100%;
	display: block;
	transform: rotate(-1deg);
	transition: transform 0.3s ease;
	filter: contrast(110%) brightness(95%);
}
.image-container img:hover {
	transform: scale(1.05);
}

.text-container {
	flex: 1;
	margin-left: 40px;
	color: #c78f4a;
	order: 1;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.text-container h2 {
	font-size: 44px;
	margin-bottom: 10px;
	color: #c78f4a;
	font-family: 'Montserrat', sans-serif;
}

.text-container p {
	line-height: 1.6;
	margin-bottom: 20px;
	color: #c78f4a;
	font-family: 'Montserrat', sans-serif;
}

.text-container button {
	padding: 10px 20px;
	background-color: #c78f4a;
	color: #fcecbf;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Montserrat', sans-serif;
}

.text-container button:hover {
	background-color: var(--clr);
	letter-spacing: 0.25em;
	transition: 0.5s;
	box-shadow: 0 0 35px var(--clr);
}
.socialMedia {
	color: #c78f4a;
	display: inline-block;
	margin-left: 59px;
	margin-top: 10px;
}
ul.socialMedia {
	list-style: none;
	padding: 0;
	margin: 10px;
}

ul.socialMedia li {
	display: inline-block;
	margin-right: 10px;
}

.socialMedia li svg {
	width: 26px;
	height: 26px;
	fill: currentColor;
}
