body {
	background-image: url('https://i.ibb.co/bJ4rKnC/IMG-5135.jpg');
}
header {
	background-image: url('https://i.ibb.co/DDCmmWS/Zrzut-ekranu-2024-03-29-132915.png');
	background-size: cover;
	height: 60%;
	background-position: center;
	background-repeat: no-repeat;
}
